body {
    font-family: 'Helvetica Neue',HelveticaNeue,TeXGyreHeros,FreeSans,'Nimbus Sans L','Liberation Sans',Helvetica,Arial,sans-serif;
    color: #333;
    background-color: #fcfcfc;
    counter-reset: option;
    margin: 0;
    font-size: 12px;
}
#data-table-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.left-side-bar {
    width: 60px;
    height: 100%;
    background-color: #0090ff;
    position: absolute;
    z-index: 100;
}

.setting-area {
    width: calc(50% - 90px);
    height: 100%;
    background-color: #f77;
    position: absolute;
    left: 60px;
    padding-left: 30px;
    transform: translateX(-100%);
    transition: transform 1s, opacity .4s;
    opacity: 0;
}

.setting-active {
    transform: translateX(0%);
    opacity: 1;
}



.data-preview-area {
    width: calc(50% - 90px);
    height: 100%;
    background-color: greenyellow;
    position: absolute;
    left: 60px;
    padding-left: 30px;
    transition: all .8s;
}

.preview-folded .data-preview-area{
    transform: translateX(calc(60px - 100%));
}

.preview-folded .fold-indicator {
    opacity: 0;
}

.preview-folded .unfold-indicator {
    opacity: .6;
}

.preview-folded .data-table-area {
    width: calc(100% - 120px);
}

.fold-indicator {
    position: absolute;
    top: 50%;
    font-size: 32px;
    left: calc(100% - 24px);
    opacity: .6;
    cursor: pointer;
}

.unfold-indicator {
    position: absolute;
    top: 50%;
    font-size: 32px;
    left: calc(100% - 30px);
    opacity: 0;
    cursor: pointer;
}

.data-table-area {
    width: 50%;
    height: 100%;
    position: absolute;
    /*background-color: #f66;*/
    right: 0;
    transition: all .8s;
}

.control-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: orange;
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.control-icon label, .control-icon span {
    font-size: 12px;
}

input[type="file"] {
    display: none;
}
.url-input {
    margin-top: -50px;
    transition: all .5s;
}
.url-input-active .url-input {
    margin-top: 10px;
}
input[type="text"] {
    padding: 2px 4px;
}
input[type="text"], textarea {
    width: calc(100% - 36px);
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;
}
.info-section {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: aliceblue;
    margin-top: -300px;
    font-size: 24px;
    color: #f88;
    transition: all .5s;
}
.info-section-active .info-section {
    margin-top: 0;
}
.info-section i {
    float:right;
    margin: 5px;
    cursor: pointer;
}









#my-table {
    width: 100%;
}
#my-table-table-section {
    width: 100%;
}
table, tr, th, td {
    border: 1px dotted dodgerblue;
    border-collapse: separate;
}
th, td {
    overflow-wrap: break-word;
    padding: 2px 4px;
    font-size: 12px;
}
tr:nth-child(2n) {
    background-color: rgba(22, 66, 99, .4);
}
tbody tr:hover {
    background-color: #f88;
}
#my-table-pager-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
th {
    height: 30px;
    position: relative;
    padding-right: 20px;
}
.my-table-control {
    width: 20px;
    height: 100%;
    /*   background-color: grey; */
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: .5;
}
.data-table-up-control {
    display: block;
    width: 0;
    height: 0;
    border-bottom: 10px solid #000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.data-table-down-control {
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid #000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}