body {
    background-color: aliceblue;
}
#container {
    width: 80vw;
    min-width: 600px;
    margin: 0 auto 50px auto;
    border-left: 2px solid burlywood;
    border-right: 2px solid burlywood;
    border-bottom: 2px solid burlywood;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#header {
    width: 100%;
    height: 200px;
    background-color: #dddddd;
}
.title {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
}
.title h1 {
    color: navy;
    font-family: "Comic Sans MS", Times, serif;
}
.title p {
    font-size: 18px;
    color: coral;
}
#content {
    width: 100%;
}
.controls {
    border-bottom: 2px solid burlywood;
}
.input-block {
    margin: 20px 0 20px 60px;
}
.upload {
    display: flex;
    width: 180px;
    height: 36px;
    font-weight: bold;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    background-color: #00ced1;
    border-radius: 5px;
    color: white;
}
.upload:hover {
    background-color: dodgerblue;
}
.input-block input[type='file'] {
   display: none;
}
.input-block label {
    margin-right: 30px;
}
.input-block input[type='text'] {
    width: 500px;
    padding: 8px;
    border: 1px solid grey;
}
.input-block input[type='text']:focus {
    background-color: gold;
    opacity: .6;
    outline: none;
}

#show-area {
    display: block;
    position: sticky;
    top: 0;
}
#buttons {
    display: block;
    height: 80px;
    margin: auto;
    width: 90%;
    /*border: 1px dotted #f66;*/
    text-align: center;
}
#buttons button {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #f66;
    background-color: transparent;
    outline: none;
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 10px;
}
#buttons button:hover {
    cursor: pointer;
    background-color: #6dc066;
    border-color: #6dc066;
    color: white;
}
.collage-models {
    width: 90%;
    /*border: 1px dotted #f66;*/
    display: none;
    justify-content: space-around;
}
#canvas-area {
    /*padding-bottom: 30px;*/
    /*border: 1px dashed dodgerblue;*/
    margin: 40px auto 80px auto;
    /*border: 1px dotted #f66;*/
    position: relative;
    width: 90%;
    min-height: 500px;
}
canvas {
    /*border: 1px dotted #f66;*/
    display: block;
    margin: auto;
}
.for-rotation {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 440px;
    z-index: 100;
    /*display: none;*/
    /*border: 1px dotted #f66;*/
}
.for-rotation input[type='range'] {
    display: block;
    margin: auto;
    width: 372px;
}
.for-rotation .range-slider {
    width: 400px;
    margin: auto;
}
.tooltiptext {
    visibility: hidden;
    width: 30px;
    background-color: orange;
    height: 30px;
    border-radius: 6px;
    position: absolute;
    top: -30px;
    line-height: 30px;
    text-align: center;
    left: calc(50% - 15px);
}
.range-slider:hover .tooltiptext {
    visibility: visible;

}
.for-rotation svg {
    display: block;
    width: 400px;
    height: 40px;
    margin: auto;
}
.unit text {
    fill: gray;
    text-anchor: middle;
    alignment-baseline: top;
    font-size: 12px;
    font-family: Arial,Helvetica;
}
.unit .tick {
    stroke: gray;
    stroke-width: 1px;
}
.for-resize {
    position: absolute;
    width: 300px;
    z-index: 100;
    /*display: none;*/
    transform-origin: right 50%;
    transform: rotate(-90deg);
    right: -20px;
    top: 0;
    /*border: 1px dotted #f66;*/
    text-align: center;
}
.for-resize input[type='range'] {
    width: 250px;
    height: 20px;
}
.for-resize .tooltiptext {
    width: 50px;
    left: calc(50% - 20px);
    top: 40px;
    transform: rotate(90deg);
}

#store {
    display: none;
}