body {
    background-color: lavender;
}
div.container {
    display: block;
    width: 95%;
    max-width: 800px;
    margin: auto;
    padding: 50px;
}
#forkme_banner {
    display: block;
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: url(../images/blacktocat.png) #0090ff no-repeat 95% 95%;
}
h2 {
    color: cadetblue;
}
div.abstract {
    width: 92%;
    margin: auto;
    background-color: white;
    padding: 10px 20px 10px 20px;
    text-align: left;
}
li {
    padding: 5px;
}
div p {
    text-align: left;
    padding: 5px 15px 15px 15px;
}
div p::first-letter {
    color: black;
    font-size: x-large;
}
div.content {
    width: 100%;
    margin-top: 4px;
}

.row {
    display: flex;
}

.row div {
    padding: 10px;
    margin: 5px;
    background-color: lavender;
    border: white double;
}

img {
    float: right;
    margin: 0 0 10px 10px;
}
.left-edge {
    float: left;
    margin: 0 10px 10px 0;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}