body {
    background-color: #f0f0f2;
}
#container {
    width: 1000px;
    margin: auto;
    padding-top: 50px;
    display: flex;
}
#console {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #00d6b2;
}
#data {
    width: 100%;
    background-color: #5cb85c;
    max-height: 500px;
    padding: 20px;
}
#config {
    width: 100%;
    padding: 20px;
}
#chartArea {
    /*border: 2px dashed #00d6b2;*/
}
svg {
    background-color: #f8f8f8;
}
#dataTable input {
    width: 85px;
    padding-left: 10px;
    height: 20px;
}
input:focus {
    background-color: wheat;
}
button {
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 5px;
    background-color: orange;
    border-style: none;
    border-radius: 5px;
}
#config input {
    width: 30%;
    padding-left: 10px;
    height: 20px;
    padding-right: 10px;
}
textarea {
    padding: 10px;
    margin-bottom: 20px;
}
.labelB {
    display: inline-block;
    width: 100px;
}
h4 {
    margin-top: 0;
    margin-bottom: 10px;
}
.optionContainer {
    margin-bottom: 5px;
}